.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.site-year {
    margin-right: 10px;
}

.my-name {
    margin-left: 10px;
}

.name-plus-linkedin {
    display: flex;
}

.brand-icon {
    font-size: 20px;
    margin: 17px 0 0 15px;
}

.footer-technologies {
    font-size: 14px;
    font-style: italic;
}

.technologies-container {
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
