.update-question-button {
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    width: 150px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.update-question-button:hover {
    box-shadow: 3px 3px 2px rgba(128, 128, 128, .3);
    transition: ease-in .15s;
}
