.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* border: 2px solid black; */
}

.site-logo {
  height: 40px;
  margin-left: 5px;
}

.logged-in-as {
  font-size: 13px;
  font-style: italic;
  margin-right: 10px;
  margin-top: 0px;
  /* border: 2px solid black; */
}

.user-page-link {
  font-size: 13px;
  text-decoration: none;
  margin-top: -10px;
  /* border: 2px solid black; */
}

.navigation-bar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.user-greeting-plus-profile-link {
  display: flex;
  align-items: center;
  flex-flow: column;
  /* border: 1px solid green; */
}

.profile-icon-button {
  margin-right: 25px;
  /* border: 2px solid green; */
}

.freerium-title {
  font-weight: bolder;
  font-size: 30px;
  text-decoration: none;
  margin-left: 10px;
  /* border: 2px solid black; */
}

.log-out {
  color: white;
  padding: 5px 15px 5px 15px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
}

.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 150px;
  width: 350px;
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: white;
  border-radius: 5px;
}

.user-img {
  width: 50px;
  height: 50px;
  /* height: 40px; */
  border-radius: 70%;
}

.hidden {
  display: none;
}

.profile-icon {
  position: fixed;
  top: 20px;
  left: 70%;
  font-size: 25px;
}
