.splash-page {
    height: 100vh;
    display: flex;
}

.splash-page-left {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: white;
    /* border: 3px solid yellow; */
}

.left-side-content {
    margin-bottom: 90px;
    /* border: 2px solid blue; */
}

.splash-page-right {
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 50px;
    /* border: 2px solid red; */
}

.welcome-to {
    width: fit-content;
    margin: 0 0 0 150px;
    /* border: 1px solid blue; */
}

.freerium-splash-page {
    width: fit-content;
    margin: 0 0 0 150px;
    font-size: 40px;
    /* border: 1px solid black; */
}

.site-tag-line {
    margin: 30px 10px 0 150px;
    /* border: 1px solid black; */
}

.freerium-plus-logo {
    display: flex;
}

.site-logo-splash {
    margin-left: 10px;
    /* border: 2px solid red; */
}
