.question-show-container {
    display: flex;
    min-height: 100vh;
}

.question-show-left {
    margin: 60px 25px 60px 25px;
    /* border: 2px solid blue; */
}

.question-show-right {
    display: flex;
    flex-flow: column;
    max-height: 600px;
    margin: 60px 25px 60px 25px;
    overflow-y: scroll;
    /* border: 2px solid blue; */
}

.question-show-right::-webkit-scrollbar{
    display: none;
}

.no-answers-yet {
    color: white;
    font-size: 20px;
    font-style: italic;
}

@media screen and (max-width: 800px) {
    .question-show-container {
        display: flex;
        flex-flow: column;
    }

    .question-show-left {
        margin-bottom: 30px;
    }
}
