.user-profile-top {
    display: flex;
    align-items: center;
    /* border: 2px solid yellow; */
}

.user-img-profile-page {
    width: 250px;
    border-radius: 50%;
    margin: 30px 30px 30px 30px;
}

.user-info-card {
    width: 580px;
    height: 250px;
    border-radius: 10px;
    background-color: beige;
}

.your {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0;
    width: fit-content;
    /* border: 2px solid red; */
}

.user-detail {
    margin-left: 20px;
}
