.question-card {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    transition: transform .2s;
    background-color: beige;
    /* border: 1px solid green; */
}

.question-card:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 2px rgba(128, 128, 128, .3);
    transition: ease-in .15s;
}

.question-title {
    font-size: 20px;
    margin: 5px 0 5px 5px;
}

.question-context {
    font-size: 14px;
    margin: 0 0 5px 5px;
}

.question-image {
    width: 500px;
    border-radius: 5px;
}
