.question-card {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    transition: transform .2s;
    background-color: rgba(245, 245, 220, .9);
    /* border: 1px solid green; */
}

.question-card:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 2px rgba(128, 128, 128, .3);
    transition: ease-in .15s;
}

.question-top-line {
    display: flex;
    flex-flow: column;
}

.question-author {
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;
    margin-bottom: 5px;
}

.question-title {
    font-size: 20px;
    margin: 5px 0 5px 5px;
    word-wrap: break-word;
}

.answers-to-question-line {
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.question-context {
    font-size: 14px;
    margin: 0 5px 10px 5px;
    word-wrap: break-word;
}

.question-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.author-options {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-top: -5px;
}
