.are-u-sure-delete {
    margin-right: 10px;
}

.yes-confirm {
    width: fit-content;
    margin: 0 auto;
    color: white;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
}

.no-forget-it {
    width: fit-content;
    margin: 10px auto;
    color: white;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
}
