.answer-card-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 5px 0;
    border-radius: 10px;
    transition: transform .2s;
    background-color: rgba(245, 245, 220, .9);
    box-shadow: 3px 3px 2px rgba(128, 128, 128, .3);
}

.answer-author {
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.main-answer-text {
    font-size: 14px;
    margin: 0 10px 10px 10px;
}

.answer-time {
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-style: italic;
}
