.home-page {
    display: flex;
}

.all-questions-div {
    width: 500px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

@media screen and (max-width: 540px) {
    .all-questions-div {
        width: 90%;
    }
}
